<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Apliccation</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#" class="font"><mat-icon>home</mat-icon>  Home</a>
      <a mat-list-item href="#" class="font"><mat-icon>equalizer</mat-icon>  Ver Reportes</a>
      <a mat-list-item href="#" class="font"><mat-icon>table_chart</mat-icon>  Manejar contenido Interactivo</a>
      <a mat-list-item href="#" class="font"><mat-icon>format_list_numbered</mat-icon>  Cursos</a>
      <a mat-list-item href="#" class="font"><mat-icon>settings</mat-icon>  Configuración</a>
      <a mat-list-item href="#" class="font"><mat-icon>clear</mat-icon>  Cerrar Sesión</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
